<!DOCTYPE html>
<html>
<head>
  <title>GrokTest</title>
  <%= stylesheet_link_tag    "grok_test/application", media: "all" %>
  <%= javascript_include_tag "grok_test/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
