<div class="content">
  <div class="ui top attached segment">

    <div class="ui vertical accordion menu">

      <% @models.each do |model| %>
      <div class="item">
        <a class="active title">
          <i class="dropdown icon"></i>
          <%= model.name %>
        </a>
        <div class="active content">
          <div class="ui form">
            <div class="grouped fields">

              <%= model.inspect %>

            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>

  </div>
</div>
