<div class="content">

  <div class="ui vertical accordion menu fluid">

    <% @models.each do |model| %>
    <div class="item">
      <a class="title">
        <i class="dropdown icon"></i>
        <i class="table icon"></i>
        <strong><%= model.name %></strong>
      </a>
      <div class="content">
        <div class="ui form">
          <div class="grouped fields">

            <table class="ui table">
              <thead>
              <tr>
                <% model.column_names.each do |column| %>
                  <th><%= column %></th>
                <% end %>
              </tr>
              </thead>
              <tbody>
              <% model.all.each do |obj| %>
              <tr>
                <% model.column_names.each do |column| %>
                <td><%= obj[column] %></td>
                <% end %>
              </tr>
              <% end %>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>

</div>
