<div class="content">

  <div class="ui vertical accordion menu fluid">

    <% @models.each do |model| %>
    <div class="item">
      <a class="title">
        <i class="dropdown icon"></i>
        <%= model.name %>
      </a>
      <div class="content">
        <div class="ui form">
          <div class="grouped fields">

            <%= model.inspect %>

          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>

</div>
